h1 {
  font-weight: normal;
  color: #42b983;
}
.dividedText{
  display: inline-flex;
}
.fade-enter {
  opacity: 0;
  z-index: 1;
}

.fade-enter.fade-enter-active {
  opacity: 1;
  transition: opacity 250ms ease-in;
}